# Built application files
*.apk
*.ap_

# Gradle files
.gradle/
.externalNativeBuild
/build

# Intellij
*.iml
.idea/
.idea/workspace.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store

# Android Studio captures folder
captures/

# NDK files
**/.cxx

# Local configuration file (sdk path, etc)
local.properties
